/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) and (max-width:1280px){
  .wrapper_in {
    max-width: 100%;
  }
  .summary.grid {
    width: 50%;
  }
}
@media only screen and (min-width:320px) and (max-width:1024px) {
  body {
    padding-right: 0px;
  }
  .header {
    width: 100%;
    right: 100%;
    transition: right 1s;
    text-align: center;
    padding-top: 38px;
    overflow-y: auto;
    img { max-width: 70%; }
    &.activeMobile {
      right: 0px;
    }
    .nav {
      margin-top: 0px;
      text-align: center;
      ul {
        text-align: left;
        position: relative;
        display: inline-block;
        li {
        padding-left: 0px;
        a {
          font-size: 30px;
        }
        ul {
          display: block;
          border: none;
          
          li a {
            opacity: 0.5;
          }
        }
      }
      }
    }
  }
  .mobileMenu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  .mobileClose {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding: 8px;
    padding-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
}
@media only screen and (min-width:320px) and (max-width:1024px) {
  .content_text_block, .mapBlock, .gridlist {
    padding: 0px 0px;
  }
  .summary.grid {
    width: 100%;
    margin-bottom: 15px;
  }
  .wrapper_in {
    padding: 0px 10px;
    p {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .bigTitle {
    margin: 10px auto;
    margin-top: 35px;
  }
  .oembed {
    height: 250px;
  }
  .gallery {
    padding: 40px 0px;
    a {
      position: relative;
      display: inline-block;
    }
  }
  .acf-map { width: 100%; }
  .carrousel .owl-item .item .content_item .content_text{
    height: 60px;
    .content_title {
      font-size: 14px;
    }
    &:before {
      width: 60px;
      height: 60px;
    }
  }
}

@media only screen and (min-width:320px) and (max-width:700px) { 
  .gallery {
    a {
      width: 48%;
    }
  }
}