/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.content-main {
  .make-column(8);
}
.content-sidebar {
  .make-column(3);
  .make-column-offset(1);
}

/* wrapper */
.wrapper {
	.make-row();
}
/* header */
.header {
	
}
/* logo */
.logo {

}
.logo-img {
	
}
/* nav */
.nav {
  position: relative;
  float: right;
  ul {
    li {
      float:left;
      margin-right: 10px;
    }
  }
}
/* sidebar */
.sidebar {
	
}
/* footer */
.footer {
	
}